[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/corazzon/finance-data-analysis/blob/main/4.2%20ETF%20%EC%A0%84%EC%B2%98%EB%A6%AC-input.ipynb)

* [ETF : 네이버 금융](https://finance.naver.com/sise/etf.nhn) 에서 수집한 데이터를 전처리 합니다.
* keyword
    * rename column
    * .map(lambda x : x)
    * text data
        * str.contains()
        * str.replace()
        * str.split("구분자", expand=True)
        * str[:]

## 데이터 로드와 요약

In [1]:
# 데이터 분석을 위한 pandas, 수치계산을 위한 numpy라이브러리를 로드합니다.
import pandas as pd
import numpy as np

In [4]:
# 이전 실습에서 저장한 파일명을 file_name에 적어주세요.
file_name = "etf_2021-11-24_raw.csv"
file_name

'etf_2021-11-24_raw.csv'

In [6]:
# 이전 수업에서 수집해서 저장해둔 csv 파일을 읽어옵니다.
# itemcode 숫자 앞의 0 이 지워진다면 dtype={"itemcode": np.object} 로 타입을 지정해 주면 문자형태로 읽어옵니다.
# df

df = pd.read_csv(file_name,dtype={"itemcode": object})

In [7]:
# 인덱스 번호 상단 5개의 데이터를 가져옵니다.
# 데이터를 잘 읽어왔는지 확인합니다.
df.head()

,itemcode,etfTabCode,itemname,nowVal,risefall,changeVal,changeRate,nav,threeMonthEarnRate,quant,amonut,marketSum
0,069500,1,KODEX 200,39425,5,-175,-0.44,39456.0,-2.0239,1850963,73236,53815
1,371460,4,TIGER 차이나전기차SOLACTIVE,20100,5,-225,-1.11,NaN,15.8779,3216944,65122,30287
2,102110,1,TIGER 200,39445,5,-185,-0.47,39488.0,-1.9861,251033,9952,22188
3,252670,3,KODEX 200선물인버스2X,2225,2,25,1.14,2222.0,2.3255,128211523,282593,20759
4,153130,6,KODEX 단기채권,102990,5,-5,0.00,102986.0,0.1263,34183,3520,19435

In [9]:
# 인덱스 하단의 5개 데이터를 가져옵니다.
# 데이터를 잘 읽어왔는지 확인합니다.
df.tail()

,itemcode,etfTabCode,itemname,nowVal,risefall,changeVal,changeRate,nav,threeMonthEarnRate,quant,amonut,marketSum
519,285020,2,KBSTAR 200철강소재,8350,5,-115,-1.36,8359.0,-5.6825,8206,68,23
520,334700,5,KBSTAR 팔라듐선물인버스(H),5775,2,240,4.34,NaN,10.4790,3453,19,23
521,287330,2,KBSTAR 200생활소비재,7755,5,-40,-0.51,7756.0,-7.7515,201,1,20
522,287310,2,KBSTAR 200경기소비재,10685,5,-120,-1.11,10684.0,-1.8174,12,0,15
523,287320,2,KBSTAR 200산업재,10670,5,-95,-0.88,10692.0,-12.9750,44,0,13

In [10]:
# info를 통해서 각 column들의 데이터타입과 결측치, 메모리 사용량 등을 볼 수 있습니다.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 524 entries, 0 to 523
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   itemcode            524 non-null    object
 1   etfTabCode          524 non-null    int64
 2   itemname            524 non-null    object
 3   nowVal              524 non-null    int64
 4   risefall            524 non-null    int64
 5   changeVal           524 non-null    int64
 6   changeRate          524 non-null    float64
 7   nav                 372 non-null    float64
 8   threeMonthEarnRate  499 non-null    float64
 9   quant               524 non-null    int64
 10  amonut              524 non-null    int64
 11  marketSum           524 non-null    int64
dtypes: float64(3), int64(7), object(2)
memory usage: 49.2+ KB

* 웹사이트의 ETF 정보와 비교하며 어떤 컬럼이 어떤 값인지 확인합니다. 
* https://finance.naver.com/sise/etf.nhn

In [14]:
# https://finance.naver.com/sise/etf.nhn 에서 값을 비교해보면 quant는 거래량임을 알 수 있습니다. - 장 중이라면 실시간으로 변동 
# 거래량(quant) 기준으로 내림차순으로 정렬하여 상위 10개의 데이터를 봅니다.


df.sort_values("quant",ascending=False).head(10)

,itemcode,etfTabCode,itemname,nowVal,risefall,changeVal,changeRate,nav,threeMonthEarnRate,quant,amonut,marketSum
3,252670,3,KODEX 200선물인버스2X,2225,2,25,1.14,2222.0,2.3255,128211523,282593,20759
15,114800,3,KODEX 인버스,4050,2,20,0.50,4056.0,1.3836,22624040,91254,11502
32,251340,3,KODEX 코스닥150선물인버스,4145,5,-20,-0.48,4150.0,-5.2333,20560443,85684,5505
5,122630,3,KODEX 레버리지,23525,5,-235,-0.99,23589.0,-4.7696,12726430,301683,18867
27,233740,1,KODEX 코스닥150 레버리지,16025,2,125,0.79,16209.0,6.2834,6802009,107998,6811
44,401470,2,KODEX K-메타버스액티브,13435,2,25,0.19,13467.0,NaN,6225809,82715,3439
1,371460,4,TIGER 차이나전기차SOLACTIVE,20100,5,-225,-1.11,NaN,15.8779,3216944,65122,30287
43,400970,2,TIGER Fn메타버스,13120,5,-100,-0.76,13142.0,NaN,2982045,38986,3490
37,196230,6,KBSTAR 단기통안채,104690,3,0,0.00,104688.0,0.1434,2784433,291491,3767
45,229200,1,KODEX 코스닥 150,14910,2,65,0.44,15094.0,2.9830,2778479,41243,3429

In [16]:
# etfTabCode column의 데이터 구성을 살펴봅니다.
# 추후 알게되겠지만 etfTabCode는 해당 사이트에서 
# 전체(0), 국내 시장지수(1), 국내 업종/테마(2), 국내 파생(3) ~
# 해외 주식(4), 원자재(5), 채권(6), 기타(7)로 자료가 구분되어 있습니다.

df["etfTabCode"].value_counts().sort_index()

1     67
2    200
3     31
4    121
5     14
6     60
7     31
Name: etfTabCode, dtype: int64

In [20]:
# pandas 의 boolean Indexing을 사용해서
# 국내 시장지수(etfTabCode == 1)의 데이터들만 확인하여 봅니다.
# 조건문의 결과가 Index와  True, False 로 나오기 때문에 boolean Indexing 이라 부릅니다.
df[df["etfTabCode"] == 3]

,itemcode,etfTabCode,itemname,nowVal,risefall,changeVal,changeRate,nav,threeMonthEarnRate,quant,amonut,marketSum
3,252670,3,KODEX 200선물인버스2X,2225,2,25,1.14,2222.0,2.3255,128211523,282593,20759
5,122630,3,KODEX 레버리지,23525,5,-235,-0.99,23589.0,-4.7696,12726430,301683,18867
15,114800,3,KODEX 인버스,4050,2,20,0.50,4056.0,1.3836,22624040,91254,11502
32,251340,3,KODEX 코스닥150선물인버스,4145,5,-20,-0.48,4150.0,-5.2333,20560443,85684,5505
91,252710,3,TIGER 200선물인버스2X,2310,2,20,0.87,2314.0,2.2321,2513321,5763,1310
92,267770,3,TIGER 200선물레버리지,17740,5,-180,-1.00,17741.0,-4.6809,284966,5116,1295
122,306520,3,HANARO 200선물인버스,9330,2,40,0.43,9340.0,1.6967,7620,70,835
138,123310,3,TIGER 인버스,4490,2,20,0.45,4496.0,1.5909,66222,296,678
141,282000,3,KBSTAR 국고채3년선물인버스,101405,2,20,0.02,101339.0,1.7206,64,6,635
185,123320,3,TIGER 레버리지,22380,5,-200,-0.89,22395.0,-4.8061,57435,1293,380
199,225800,3,KOSEF 미국달러선물레버리지,9660,5,-10,-0.10,9666.0,2.0580,21794,210,346
201,252420,3,KBSTAR 200선물인버스2X,2215,2,15,0.68,2222.0,2.0881,145106,320,334
222,250780,3,TIGER 코스닥150선물인버스,4250,5,-20,-0.47,4259.0,-5.4264,193443,827,270
225,230480,3,KOSEF 미국달러선물인버스2X,7690,5,-10,-0.13,7714.0,-2.6549,323,2,263
228,253250,3,KOSEF 200선물레버리지,21175,5,-200,-0.94,21170.0,-4.8309,1977,42,258
229,252410,3,KBSTAR 200선물인버스,5240,2,30,0.58,5241.0,1.3618,1067,5,257
236,252400,3,KBSTAR 200선물레버리지,21445,5,-240,-1.11,21445.0,-4.7023,42514,917,236
270,306950,3,KODEX KRX300레버리지,18580,5,-115,-0.62,18591.0,-4.2755,1229,23,186
300,253160,3,ARIRANG 200선물인버스2X,4455,2,35,0.79,4459.0,2.5522,85886,382,149
320,307010,3,KBSTAR KRX300레버리지,18385,5,-290,-1.55,18482.0,-3.9105,111,2,129
324,253150,3,ARIRANG 200선물레버리지,42465,5,-650,-1.51,42654.0,-5.5739,2359,100,127
343,253230,3,KOSEF 200선물인버스2X,2200,2,20,0.92,2210.0,1.6317,33652,73,113
371,152500,3,KINDEX 레버리지,9320,5,-70,-0.75,9311.0,-4.9114,6836,64,93
381,137930,3,마이다스 200커버드콜5%OTM,14590,5,-75,-0.51,14611.0,-2.2660,3,0,88
388,291630,3,KOSEF 코스닥150선물레버리지,7075,2,60,0.86,7088.0,7.3450,5554,38,86
420,166400,3,TIGER 200커버드콜5%OTM,14820,3,0,0.00,14748.0,-2.2428,0,0,74
438,306530,3,HANARO 코스닥150선물레버리지,14230,2,80,0.57,14238.0,7.3596,746,10,68
448,145670,3,KINDEX 인버스,4955,2,10,0.20,4968.0,1.8537,43369,214,64
470,301410,3,ARIRANG 코스닥150선물인버스,6580,5,-10,-0.15,6573.0,-5.5874,2036,13,56
488,253240,3,KOSEF 200선물인버스,5250,2,30,0.57,5249.0,1.3592,165,0,45
502,291620,3,KOSEF 코스닥150선물인버스,7550,5,-20,-0.26,7545.0,-5.3159,6185,47,40

## 데이터 전처리
### etfTabName 만들기

In [24]:
# etf name을 구분하기 위한 list를 만듭니다.
# """ 를 이용해 \n을 포함하는 string을 만들고 split으로 나누어서 list를 간편히 만들수 있습니다.
etfcode = """전체
국내 시장지수
국내 업종/테마
국내 파생
해외 주식
원자재
채권
기타"""
etfcode

'전체\n국내 시장지수\n국내 업종/테마\n국내 파생\n해외 주식\n원자재\n채권\n기타'

In [26]:
# split으로 나누어 list형 데이터를 만듭니다.
# etf_tab_name
etf_tab_name = etfcode.split("\n")
etf_tab_name

['전체', '국내 시장지수', '국내 업종/테마', '국내 파생', '해외 주식', '원자재', '채권', '기타']

In [29]:
def find_eft_tab_name(no):
    return etf_tab_name[no]

'국내 시장지수'

In [35]:
# etfTabName 이름이 직관적이지 않기 때문에 한글로 변경해 줍니다.
# map과 lambda 함수를 이용하여 eftTabCode column들의 각 cell의 내용에 따라
# etf_tab_name list의 원소값에 따라 이름을 만들어 주고 etfTabName 이라는 새로운 컬럼을 생성합니다.
# 즉 etfTabCode 숫자 -> list의 원소 인덱스로 한글 이름을 매핑해 줍니다. -> etfTabName에 한글로 저장
# df["etfTabName"]

# df["etfTabCode"].map(find_eft_tab_name)

# 익명함수 - 간단해서 
df["eftTabName"] = df["etfTabCode"].map(lambda x : etf_tab_name[x])

In [41]:
# etfTabName column이 제대로 만들어졌는지 확인합니다.
df[df["etfTabCode"] ==1]
df.loc[df["etfTabCode"] ==2, ["itemname","eftTabName"]]

            itemname eftTabName
8         KODEX 삼성그룹   국내 업종/테마
12       TIGER TOP10   국내 업종/테마
17      TIGER 2차전지테마   국내 업종/테마
18      KODEX 2차전지산업   국내 업종/테마
21      TIGER 200 IT   국내 업종/테마
..               ...        ...
517  KBSTAR 200에너지화학   국내 업종/테마
519   KBSTAR 200철강소재   국내 업종/테마
521  KBSTAR 200생활소비재   국내 업종/테마
522  KBSTAR 200경기소비재   국내 업종/테마
523    KBSTAR 200산업재   국내 업종/테마

[200 rows x 2 columns]

* map : 
    * Series에서만 사용가능
    * [Essential basic functionality — pandas documentation](https://pandas.pydata.org/docs/user_guide/basics.html?#applying-elementwise-functions)

* apply :
    * Series와 DataFrame 둘 다 사용가능
    * [Essential basic functionality — pandas documentation](https://pandas.pydata.org/docs/user_guide/basics.html?#row-or-column-wise-function-application)

### 컬럼명 변경하기

In [47]:
col_name = """종목명
현재가
전일비
등락률
NAV
3개월수익률
거래량
거래대금(백만)
시가총액(억)"""

['종목명', '현재가', '전일비', '등락률', 'NAV', '3개월수익률', '거래량', '거래대금(백만)', '시가총액(억)']

In [53]:
# DataFrame df의 column 이름을 list로 만들어서 cols 라는 변수에 담습니다.
cols =df.columns.tolist()

In [57]:
# 영어로 되어있는 column 이름을 한글로 바꾸기 위한 list를 만듭니다.
# 빠진 column이 있는지 리스트와 길이를 확인합니다.
col_name = """종목코드
탭코드
종목명
현재가
등락구분
전일비
등락률
순자산가치(NAV)
3개월수익률
거래량
거래대금(백만)
시가총액(억)
유형"""
col_name = col_name.split("\n")
col_name

['종목코드',
 '탭코드',
 '종목명',
 '현재가',
 '등락구분',
 '전일비',
 '등락률',
 '순자산가치(NAV)',
 '3개월수익률',
 '거래량',
 '거래대금(백만)',
 '시가총액(억)',
 '유형']

In [58]:
# 컬럼 영문명과 한글명을 딕셔너리 형태로 만들어 비교해 볼 수도 있습니다.
# 하지만 좀 더 간단하게 여기에서는 리스트 값을 그대로 컬럼에 넣어주는 방법을 사용할거에요.
# 딕셔너리로 키-값 쌍을 만들어 컬럼의 키와 값이 잘 매치되었는지 확인해 봅니다.


dict(zip(cols,col_name))

{'itemcode': '종목코드',
 'etfTabCode': '탭코드',
 'itemname': '종목명',
 'nowVal': '현재가',
 'risefall': '등락구분',
 'changeVal': '전일비',
 'changeRate': '등락률',
 'nav': '순자산가치(NAV)',
 'threeMonthEarnRate': '3개월수익률',
 'quant': '거래량',
 'amonut': '거래대금(백만)',
 'marketSum': '시가총액(억)',
 'eftTabName': '유형'}

In [60]:
# 기존의 데이터프레임 컬럼명에 위에서 만든 컬럼명을 할당연산자로 대입해 주면 컬럼명이 변경됩니다.
# 컬럼 변경 후 한글로 컬럼명이 잘 변경되었는지 확인해 봅니다.
df.columns = col_name
df

,종목코드,탭코드,종목명,현재가,등락구분,전일비,등락률,순자산가치(NAV),3개월수익률,거래량,거래대금(백만),시가총액(억),유형
0,069500,1,KODEX 200,39425,5,-175,-0.44,39456.0,-2.0239,1850963,73236,53815,국내 시장지수
1,371460,4,TIGER 차이나전기차SOLACTIVE,20100,5,-225,-1.11,NaN,15.8779,3216944,65122,30287,해외 주식
2,102110,1,TIGER 200,39445,5,-185,-0.47,39488.0,-1.9861,251033,9952,22188,국내 시장지수
3,252670,3,KODEX 200선물인버스2X,2225,2,25,1.14,2222.0,2.3255,128211523,282593,20759,국내 파생
4,153130,6,KODEX 단기채권,102990,5,-5,0.00,102986.0,0.1263,34183,3520,19435,채권
...,...,...,...,...,...,...,...,...,...,...,...,...,...
519,285020,2,KBSTAR 200철강소재,8350,5,-115,-1.36,8359.0,-5.6825,8206,68,23,국내 업종/테마
520,334700,5,KBSTAR 팔라듐선물인버스(H),5775,2,240,4.34,NaN,10.4790,3453,19,23,원자재
521,287330,2,KBSTAR 200생활소비재,7755,5,-40,-0.51,7756.0,-7.7515,201,1,20,국내 업종/테마
522,287310,2,KBSTAR 200경기소비재,10685,5,-120,-1.11,10684.0,-1.8174,12,0,15,국내 업종/테마
523,287320,2,KBSTAR 200산업재,10670,5,-95,-0.88,10692.0,-12.9750,44,0,13,국내 업종/테마

### 파생변수 만들기
* 브랜드, 인버스, 레버리지, 환헤지H 변수 만들기
* [Working with text data — pandas documentation](https://pandas.pydata.org/docs/user_guide/text.html)

In [62]:
"KODEX 200".split(" ")

['KODEX', '200']

In [65]:
# 종목명 column의 데이터를 space(" ")를 이용해 나누고 제일 앞부분[0]을 새로운 column을 만들어 저장하고 확인합니다.
# expand = True 옵션을 사용하면 문자열을 나눈 값을 인덱스 순서대로 가져와서 사용할 수 있습니다.
# df["브랜드"] 

df["브랜드"] = df["종목명"].str.split(" " , expand = True)[0]

df

,종목코드,탭코드,종목명,현재가,등락구분,전일비,등락률,순자산가치(NAV),3개월수익률,거래량,거래대금(백만),시가총액(억),유형,브랜드
0,069500,1,KODEX 200,39425,5,-175,-0.44,39456.0,-2.0239,1850963,73236,53815,국내 시장지수,KODEX
1,371460,4,TIGER 차이나전기차SOLACTIVE,20100,5,-225,-1.11,NaN,15.8779,3216944,65122,30287,해외 주식,TIGER
2,102110,1,TIGER 200,39445,5,-185,-0.47,39488.0,-1.9861,251033,9952,22188,국내 시장지수,TIGER
3,252670,3,KODEX 200선물인버스2X,2225,2,25,1.14,2222.0,2.3255,128211523,282593,20759,국내 파생,KODEX
4,153130,6,KODEX 단기채권,102990,5,-5,0.00,102986.0,0.1263,34183,3520,19435,채권,KODEX
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
519,285020,2,KBSTAR 200철강소재,8350,5,-115,-1.36,8359.0,-5.6825,8206,68,23,국내 업종/테마,KBSTAR
520,334700,5,KBSTAR 팔라듐선물인버스(H),5775,2,240,4.34,NaN,10.4790,3453,19,23,원자재,KBSTAR
521,287330,2,KBSTAR 200생활소비재,7755,5,-40,-0.51,7756.0,-7.7515,201,1,20,국내 업종/테마,KBSTAR
522,287310,2,KBSTAR 200경기소비재,10685,5,-120,-1.11,10684.0,-1.8174,12,0,15,국내 업종/테마,KBSTAR
523,287320,2,KBSTAR 200산업재,10670,5,-95,-0.88,10692.0,-12.9750,44,0,13,국내 업종/테마,KBSTAR

In [66]:
df["브랜드"].unique()

array(['KODEX', 'TIGER', 'KBSTAR', 'ARIRANG', 'KINDEX', 'KOSEF', 'HANARO',
       'SOL', 'TIMEFOLIO', '네비게이터', '파워', 'KTOP', 'FOCUS', '에셋플러스',
       '마이다스', 'TREX', '마이티', 'MASTER', 'HK'], dtype=object)

* 종목명 column의 내용중이 '인버스'라는 단어가 있으면 새로운 column '인버스'에 True 값이 들어가게 됩니다.
* contains는 bool type을 반환하기 때문에 새로운 column에는 True나 False가 들어가게 됩니다.
* 마찬가지로 '레버리지'와 '환헤지H'에 대해서도 동일하게 만들어 줍니다. 
* H라는 단어가 종목명에 들어갈 수도 있기 때문에 H뒤에 닫는 소괄호")"까지 확인합니다.
* 소괄호는 정규표현식에서 의미를 가지는 문자이기 때문에 문자 그대로 읽어오기 위해서는 "\"로 전처리가 필요합니다.

In [70]:
# 인버스ETF는 지수가 하락하면 오히려 수익률이 오르도록 설계된 상품입니다.
# df["인버스"]

df["인버스"] = df["종목명"].str.contains("인버스")
df

,종목코드,탭코드,종목명,현재가,등락구분,전일비,등락률,순자산가치(NAV),3개월수익률,거래량,거래대금(백만),시가총액(억),유형,브랜드,인버스
0,069500,1,KODEX 200,39425,5,-175,-0.44,39456.0,-2.0239,1850963,73236,53815,국내 시장지수,KODEX,False
1,371460,4,TIGER 차이나전기차SOLACTIVE,20100,5,-225,-1.11,NaN,15.8779,3216944,65122,30287,해외 주식,TIGER,False
2,102110,1,TIGER 200,39445,5,-185,-0.47,39488.0,-1.9861,251033,9952,22188,국내 시장지수,TIGER,False
3,252670,3,KODEX 200선물인버스2X,2225,2,25,1.14,2222.0,2.3255,128211523,282593,20759,국내 파생,KODEX,True
4,153130,6,KODEX 단기채권,102990,5,-5,0.00,102986.0,0.1263,34183,3520,19435,채권,KODEX,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
519,285020,2,KBSTAR 200철강소재,8350,5,-115,-1.36,8359.0,-5.6825,8206,68,23,국내 업종/테마,KBSTAR,False
520,334700,5,KBSTAR 팔라듐선물인버스(H),5775,2,240,4.34,NaN,10.4790,3453,19,23,원자재,KBSTAR,True
521,287330,2,KBSTAR 200생활소비재,7755,5,-40,-0.51,7756.0,-7.7515,201,1,20,국내 업종/테마,KBSTAR,False
522,287310,2,KBSTAR 200경기소비재,10685,5,-120,-1.11,10684.0,-1.8174,12,0,15,국내 업종/테마,KBSTAR,False
523,287320,2,KBSTAR 200산업재,10670,5,-95,-0.88,10692.0,-12.9750,44,0,13,국내 업종/테마,KBSTAR,False

레버리지(leverage)는 타인의 자본을 지렛대처럼 이용하여 자기 자본의 이익률을 높이는 것이다. 고정비용이 있을 때 매출액의 변화가 기업의 손익에 미치는 영향을 분석하는 데에 쓰인다. 이는 고정영업비용과 고정재무비용의 부담정도에 따라 기업에게 귀속되는 최종적인 주당이익에 어떤 영향을 미치는지 분석할 수 있게 한다.

* 출처 : [레버리지 - 위키백과, 우리 모두의 백과사전](https://ko.wikipedia.org/wiki/%EB%A0%88%EB%B2%84%EB%A6%AC%EC%A7%80)

In [75]:
# df["레버리지"]

df["레버리지"] = df["종목명"].str.contains("레버리지")
df["레버리지"].value_counts(normalize= True)* 100

# 전체의 6.3 프로 정도

False    93.70229
True      6.29771
Name: 레버리지, dtype: float64

헤지(hedge)란 환율, 금리 또는 다른 자산에 대한 투자등을 통해 보유하고 있는 위험자산의 가격변동을 제거하는 것을 말한다. 즉, 확정되지 않은 자산을 확정된 자산으로 편입하는 과정이라 할 수 있으며, 주로 선물 옵션과 같은 파생상품을 이용한다. 이를 통해 체계적 위험을 제거할 수 있다.

부(wealth)를 결정하는 변수값의 변화와 관계없이 항상 일정한 부를 유지하게 하는 헤지를 완전헤지라고 하고, 그렇지 못한 것을 불완전헤지라고 한다.
* 출처 : [헤지 - 위키백과, 우리 모두의 백과사전](https://ko.wikipedia.org/wiki/%ED%97%A4%EC%A7%80)

In [85]:
# (H)의 의미는 환율변동 위험을 막기 위해 Hedge를 한다는 뜻입니다.

df["환헤지H"]=df["종목명"].str.endswith("H)")

df[["환헤지H","종목명"]].tail()

      환헤지H                 종목명
519  False      KBSTAR 200철강소재
520   True  KBSTAR 팔라듐선물인버스(H)
521  False     KBSTAR 200생활소비재
522  False     KBSTAR 200경기소비재
523  False       KBSTAR 200산업재

### 전처리가 잘 되었는지 확인하기

In [86]:
# 등락구분에 있는 값의 빈도수를 세어봅니다.

df["등락구분"].value_counts()

5    341
2    147
3     36
Name: 등락구분, dtype: int64

In [87]:
# 전체적으로 데이터 전처리가 끝났다면 info를 통해 데이터 요약정보 보기
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 524 entries, 0 to 523
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   종목코드        524 non-null    object
 1   탭코드         524 non-null    int64
 2   종목명         524 non-null    object
 3   현재가         524 non-null    int64
 4   등락구분        524 non-null    int64
 5   전일비         524 non-null    int64
 6   등락률         524 non-null    float64
 7   순자산가치(NAV)  372 non-null    float64
 8   3개월수익률      499 non-null    float64
 9   거래량         524 non-null    int64
 10  거래대금(백만)    524 non-null    int64
 11  시가총액(억)     524 non-null    int64
 12  유형          524 non-null    object
 13  브랜드         524 non-null    object
 14  인버스         524 non-null    bool
 15  레버리지        524 non-null    bool
 16  환헤지H        524 non-null    bool
dtypes: bool(3), float64(3), int64(7), object(4)
memory usage: 59.0+ KB

## 파일로 저장하기

In [89]:
# 기존에 불러왔던 파일명에서 _raw를 제거하고 새로운 파일명으로 저장합니다.
# save_file_name 

save_file_name = file_name.replace("_raw","")

save_file_name

'etf_2021-11-24.csv'

In [90]:
# pandas의 to_csv로 파일을 저장합니다.
# index=False로 인덱스값은 저장하지 않습니다.

df.to_csv(save_file_name, index= False)

In [ ]:
# 저장한 파일을 읽어와서 제대로 저장되었는지 확인합니다.
# 또, 종목코드는 그냥 읽어오면 숫자 맨 앞의 0이 생략될 수 있으니 object 타입으로 불러옵니다.

In [91]:
pd.read_csv(save_file_name, dtype= {"종목코드" : object})

,종목코드,탭코드,종목명,현재가,등락구분,전일비,등락률,순자산가치(NAV),3개월수익률,거래량,거래대금(백만),시가총액(억),유형,브랜드,인버스,레버리지,환헤지H
0,069500,1,KODEX 200,39425,5,-175,-0.44,39456.0,-2.0239,1850963,73236,53815,국내 시장지수,KODEX,False,False,False
1,371460,4,TIGER 차이나전기차SOLACTIVE,20100,5,-225,-1.11,NaN,15.8779,3216944,65122,30287,해외 주식,TIGER,False,False,False
2,102110,1,TIGER 200,39445,5,-185,-0.47,39488.0,-1.9861,251033,9952,22188,국내 시장지수,TIGER,False,False,False
3,252670,3,KODEX 200선물인버스2X,2225,2,25,1.14,2222.0,2.3255,128211523,282593,20759,국내 파생,KODEX,True,False,False
4,153130,6,KODEX 단기채권,102990,5,-5,0.00,102986.0,0.1263,34183,3520,19435,채권,KODEX,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
519,285020,2,KBSTAR 200철강소재,8350,5,-115,-1.36,8359.0,-5.6825,8206,68,23,국내 업종/테마,KBSTAR,False,False,False
520,334700,5,KBSTAR 팔라듐선물인버스(H),5775,2,240,4.34,NaN,10.4790,3453,19,23,원자재,KBSTAR,True,False,True
521,287330,2,KBSTAR 200생활소비재,7755,5,-40,-0.51,7756.0,-7.7515,201,1,20,국내 업종/테마,KBSTAR,False,False,False
522,287310,2,KBSTAR 200경기소비재,10685,5,-120,-1.11,10684.0,-1.8174,12,0,15,국내 업종/테마,KBSTAR,False,False,False
523,287320,2,KBSTAR 200산업재,10670,5,-95,-0.88,10692.0,-12.9750,44,0,13,국내 업종/테마,KBSTAR,False,False,False