[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/corazzon/finance-data-analysis/blob/main/3.3%20%EB%84%A4%EC%9D%B4%EB%B2%84%EA%B8%88%EC%9C%B5%20%EA%B0%9C%EB%B3%84%EC%A2%85%EB%AA%A9%20%EC%88%98%EC%A7%91-input.ipynb)


## 네이버 금융 개별종목 수집
* FinanceDataReader를 통해 수집했던 데이터를 네이버 증권 웹 페이지를 통해 직접 수집합니다.


### Keyword

* html 파일 읽어오기
    * pd.read_html(url, encoding="cp949")

* 결측 데이터 제거하기(axis 0:행, 1:열)
    * table[0].dropna()

* 데이터 프레임 합치기
    * pd.concat([df1, df2, df3])

* 중복데이터 제거
    * df.drop_duplicates()

* 과학적 기수법
    * 1.210000e+02 => 121

* 날짜 column의 첫 row값 확인
    * date = df.iloc[0]["날짜"]

* 파일로 저장하기 
    * df.to_csv(file_name, index=False)

* 파일 읽어오기
    * pd.read_csv(file_name)

## 수집할 페이지 보기

* 네이버 금융 국내증시 : https://finance.naver.com/sise/
* 2020년 주요 상장종목
    * 빅히트 : https://finance.naver.com/item/main.nhn?code=352820
    * 카카오게임즈 : https://finance.naver.com/item/main.nhn?code=293490
    * SK바이오팜 : https://finance.naver.com/item/main.nhn?code=326030

## 라이브러리 로드

In [1]:
# 라이브러리 로드
import pandas as pd

## 수집할 URL 정하기

In [11]:
# 종목번호와 상장사 이름을 item_code와 item_name으로 설정
# item_code = "352820"
# item_name = "빅히트"

item_code = "326030"
item_name = "SK바이오팜"

# 종목 URL 만들기
# url
url = f"https://finance.naver.com/item/sise_day.naver?code=005930&page=5"

## pandas 코드 한 줄로 데이터 수집하기

In [12]:
# read_html을 이용하여 url의 page내의 값을 DataFrame으로 받아옵니다.
# cp949는 한글 인코딩을 위해 사용합니다. 기본 인코딩 설정은 utf-8 이며, 
# 네이버의 일별 시세는 cp949 인코딩으로 불러올 수 있습니다.
# 데이터를 로드 했을 때 한글 인코딩이 깨진다면 대부분 cp949 로 불러올 수 있습니다.
# 헤더 필요 없을때  사용 
# table
table = pd.read_html(url,encoding="cp949")
len(table)

ValueError: No tables found

In [10]:

# 삼성전자 일별시세는 정보에 포함되어 있지 않음 ... 
# 이미지 형태로 업로드 되기 때문에 
table[0]
table[1]
table[2]

      날짜       종가        전일비        외국인         기관
0    NaN      NaN        NaN        NaN        NaN
1  11/23  75300.0    상향  400  5082257.0 -2811514.0
2  11/22  74900.0  상향  3,700  5766721.0  3034399.0
3  11/19  71200.0  상향  1,000   313970.0   432827.0
4  11/18  70200.0    하향  500  -738137.0  -576566.0
5  11/17  70700.0    하향  600  1519353.0 -2816912.0
6  11/16  71300.0    하향  100  1025989.0  -202007.0
7    NaN      NaN        NaN        NaN        NaN

## requests를 통한 HTTP 요청
* [Requests: HTTP for Humans™ — Requests documentation](https://requests.readthedocs.io/en/master/)
* [Quickstart — Requests documentation # custom-headers](https://requests.readthedocs.io/en/latest/user/quickstart/#custom-headers)

In [18]:

import requests
response = requests.get(url)

response.text

# 방문하시려는 페이지의 주소가 잘못 입력되었거나,<br>\n\t\t페이지의 주소가 변경 혹은 삭제되어 요청하신 페이지를 찾을 수 없습니다.
#<br>\n\t\t입력하신 주소가 정확한지 다시 한번 확인해 주시기 바랍니다.

# browser가 아닌 곳에서 요청이 온 경우 -> block

# browser 인 것처럼 만들어준다 

headers = {'user-agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/95.0.4638.69 Safari/537.36'}

response = requests.get(url,headers=headers)

response.text

'\n<html lang="ko">\n<head>\n<meta http-equiv="Content-Type" content="text/html; charset=euc-kr">\n<title>네이버 금융</title>\n\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20211029233853/css/newstock.css">\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20211029233853/css/common.css">\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20211029233853/css/layout.css">\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20211029233853/css/main.css">\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20211029233853/css/newstock2.css">\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20211029233853/css/newstock3.css">\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20211029233853/css/world.css">\n</head>\n<body>\n<script language="JavaScript">\nfunction mouseOver(obj){\n  obj.style.backgroundColor="#f6f4e5";\n}\nfunction mouseOut(obj){\n  obj.style.backgroundColor="#ffffff";\n}\n</script>\n\t\t\t\t<h4 class="tlline2"><strong><span class="red03">일별</span>시세</strong></h4>\t\t\t\n\t\t\t\t<table cellspacing="0" class="type2">\n\t\t\t\t<tr>\n\t\t\t\t<th>날짜</th>\n\t\t\t\t<th>종가</th>\n\t\t\t\t<th>전일비</th>\n\t\t\t\t<th>시가</th>\n\t\t\t\t<th>고가</th>\n\t\t\t\t<th>저가</th>\n\t\t\t\t<th>거래량</th>\n\t\t\t\t</tr>\n\t\t\t\t<tr>\n\t\t\t\t<td colspan="7" height="8"></td>\n\t\t\t\t</tr>\n\n\n\t\n\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2021.09.27</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">77,700</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" width="7" height="6" style="margin-right:4px;" alt="상승"><span class="tah p11 red02">\n\t\t\t\t400\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">77,300</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">77,700</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">77,000</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">11,699,798</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2021.09.24</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">77,300</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" width="7" height="6" style="margin-right:4px;" alt="하락"><span class="tah p11 nv01">\n\t\t\t\t100\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">77,600</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">77,700</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">77,100</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">12,247,274</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2021.09.23</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">77,400</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" width="7" height="6" style="margin-right:4px;" alt="상승"><span class="tah p11 red02">\n\t\t\t\t200\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">77,500</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">77,600</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">76,800</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">17,055,590</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2021.09.17</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">77,200</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" width="7" height="6" style="margin-right:4px;" alt="상승"><span class="tah p11 red02">\n\t\t\t\t1,100\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">76,300</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">77,200</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">75,900</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">16,289,502</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2021.09.16</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">76,100</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" width="7" height="6" style="margin-right:4px;" alt="하락"><span class="tah p11 nv01">\n\t\t\t\t900\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">77,300</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">77,400</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">76,100</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">13,067,622</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\t<tr>\n\t\t\t\t<td colspan="7" height="8"></td>\n\t\t\t\t</tr>\n\t\t\t\t<tr>\n\t\t\t\t<td colspan="7" height="1" bgcolor="#e1e1e1"></td>\n\t\t\t\t</tr>\n\t\t\t\t<tr>\n\t\t\t\t<td colspan="7" height="8"></td>\n\t\t\t\t</tr>\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2021.09.15</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">77,000</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" width="7" height="6" style="margin-right:4px;" alt="상승"><span class="tah p11 red02">\n\t\t\t\t400\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">77,400</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">77,400</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">76,400</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">12,829,128</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2021.09.14</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">76,600</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" width="7" height="6" style="margin-right:4px;" alt="상승"><span class="tah p11 red02">\n\t\t\t\t300\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">77,100</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">77,700</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">76,600</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">18,167,057</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2021.09.13</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">76,300</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" width="7" height="6" style="margin-right:4px;" alt="상승"><span class="tah p11 red02">\n\t\t\t\t1,000\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">75,200</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">76,300</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">75,100</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">11,397,775</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2021.09.10</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">75,300</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<span class="tah p11">0</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">75,300</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">75,600</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">74,800</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">10,103,212</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2021.09.09</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">75,300</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" width="7" height="6" style="margin-right:4px;" alt="하락"><span class="tah p11 nv01">\n\t\t\t\t1,000\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">76,400</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">76,600</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">75,000</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">17,600,770</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\n\n\t\t\t\t<tr>\n\t\t\t\t<td colspan="7" height="8"></td>\n\t\t\t\t</tr>\n\t\t\t\t</table>\n\t\t\t\t<!--- 페이지 네비게이션 시작--->\n\t\t\t\t<table summary="페이지 네비게이션 리스트" class="Nnavi" align="center">\n\t\t\t\t<caption>페이지 네비게이션</caption>\n\t\t\t\t<tr>\t\t\n\t\t\t\n\t\t\t\t<td class="pgLL">\n\t\t\t\t<a href="/item/sise_day.naver?code=005930&amp;page=1"  >\n\t\t\t\t<img src="https://ssl.pstatic.net/static/n/cmn/bu_pgarLL.gif" width="7" height="5" alt="">맨앞\n\t\t\t\t</a>\n\t\t\t\t</td>\n\n                \n                <td>\n\t\t\t\t<a href="/item/sise_day.naver?code=005930&amp;page=1"  >1</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.naver?code=005930&amp;page=2"  >2</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.naver?code=005930&amp;page=3"  >3</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.naver?code=005930&amp;page=4"  >4</a>\n\t\t\t\t</td>\n<td class="on">\n\t\t\t\t<a href="/item/sise_day.naver?code=005930&amp;page=5"  >5</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.naver?code=005930&amp;page=6"  >6</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.naver?code=005930&amp;page=7"  >7</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.naver?code=005930&amp;page=8"  >8</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.naver?code=005930&amp;page=9"  >9</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.naver?code=005930&amp;page=10"  >10</a>\n\t\t\t\t</td>\n\n                <td class="pgR">\n\t\t\t\t<a href="/item/sise_day.naver?code=005930&amp;page=11"  >\n\t\t\t\t다음<img src="https://ssl.pstatic.net/static/n/cmn/bu_pgarR.gif" width="3" height="5" alt="" border="0">\n\t\t\t\t</a>\n\t\t\t\t</td>\n\n                <td class="pgRR">\n\t\t\t\t<a href="/item/sise_day.naver?code=005930&amp;page=639"  >맨뒤\n\t\t\t\t<img src="https://ssl.pstatic.net/static/n/cmn/bu_pgarRR.gif" width="8" height="5" alt="" border="0">\n\t\t\t\t</a>\n\t\t\t\t</td>\n\n            \n\t\t\t\t</tr>\n\t\t\t\t</table>\n\t\t\t\t<!--- 페이지 네비게이션 끝--->\n\n\n\t<script type="text/javascript" src="https://ssl.pstatic.net/imgstock/static.pc/20211029233853/js/jindo.min.ns.1.5.3.euckr.js"></script>\n\t<script type="text/javascript" src="https://ssl.pstatic.net/imgstock/static.pc/20211029233853/js/lcslog.js"></script>\n\t<script type="text/javascript">\n        ;(function(){\n            var eventType = "onpageshow" in window ? "pageshow" : "load";\n            jindo.$Fn(function(){\n                lcs_do();\n            }).attach(window, eventType);\n        })();\n\t</script>\n\n</body>'

## BeautifulSoup 을 통한 table 태그 찾기
- HTML 
* [Beautiful Soup Documentation — Beautiful Soup 4.9.0 documentation](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)

In [26]:
from bs4 import BeautifulSoup as bs

## lxml- parsser - fast 
html = bs(response.text,"lxml")
# pandas 와 맵핑위해 table
table = html.select("table")
len(table)

table[0]

<table cellspacing="0" class="type2">
<tr>
<th>날짜</th>
<th>종가</th>
<th>전일비</th>
<th>시가</th>
<th>고가</th>
<th>저가</th>
<th>거래량</th>
</tr>
<tr>
<td colspan="7" height="8"></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2021.09.27</span></td>
<td class="num"><span class="tah p11">77,700</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				400
				</span>
</td>
<td class="num"><span class="tah p11">77,300</span></td>
<td class="num"><span class="tah p11">77,700</span></td>
<td class="num"><span class="tah p11">77,000</span></td>
<td class="num"><span class="tah p11">11,699,798</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2021.09.24</span></td>
<td class="num"><span class="tah p11">77,300</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				100
				</span>
</td>
<td class="num"><span class="tah p11">77,600</span></td>
<td class="num"><span class="tah p11">77,700</span></td>
<td class="num"><span class="tah p11">77,100</span></td>
<td class="num"><span class="tah p11">12,247,274</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2021.09.23</span></td>
<td class="num"><span class="tah p11">77,400</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				200
				</span>
</td>
<td class="num"><span class="tah p11">77,500</span></td>
<td class="num"><span class="tah p11">77,600</span></td>
<td class="num"><span class="tah p11">76,800</span></td>
<td class="num"><span class="tah p11">17,055,590</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2021.09.17</span></td>
<td class="num"><span class="tah p11">77,200</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				1,100
				</span>
</td>
<td class="num"><span class="tah p11">76,300</span></td>
<td class="num"><span class="tah p11">77,200</span></td>
<td class="num"><span class="tah p11">75,900</span></td>
<td class="num"><span class="tah p11">16,289,502</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2021.09.16</span></td>
<td class="num"><span class="tah p11">76,100</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				900
				</span>
</td>
<td class="num"><span class="tah p11">77,300</span></td>
<td class="num"><span class="tah p11">77,400</span></td>
<td class="num"><span class="tah p11">76,100</span></td>
<td class="num"><span class="tah p11">13,067,622</span></td>
</tr>
<tr>
<td colspan="7" height="8"></td>
</tr>
<tr>
<td bgcolor="#e1e1e1" colspan="7" height="1"></td>
</tr>
<tr>
<td colspan="7" height="8"></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2021.09.15</span></td>
<td class="num"><span class="tah p11">77,000</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				400
				</span>
</td>
<td class="num"><span class="tah p11">77,400</span></td>
<td class="num"><span class="tah p11">77,400</span></td>
<td class="num"><span class="tah p11">76,400</span></td>
<td class="num"><span class="tah p11">12,829,128</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2021.09.14</span></td>
<td class="num"><span class="tah p11">76,600</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				300
				</span>
</td>
<td class="num"><span class="tah p11">77,100</span></td>
<td class="num"><span class="tah p11">77,700</span></td>
<td class="num"><span class="tah p11">76,600</span></td>
<td class="num"><span class="tah p11">18,167,057</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2021.09.13</span></td>
<td class="num"><span class="tah p11">76,300</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				1,000
				</span>
</td>
<td class="num"><span class="tah p11">75,200</span></td>
<td class="num"><span class="tah p11">76,300</span></td>
<td class="num"><span class="tah p11">75,100</span></td>
<td class="num"><span class="tah p11">11,397,775</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2021.09.10</span></td>
<td class="num"><span class="tah p11">75,300</span></td>
<td class="num">
<span class="tah p11">0</span>
</td>
<td class="num"><span class="tah p11">75,300</span></td>
<td class="num"><span class="tah p11">75,600</span></td>
<td class="num"><span class="tah p11">74,800</span></td>
<td class="num"><span class="tah p11">10,103,212</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2021.09.09</span></td>
<td class="num"><span class="tah p11">75,300</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				1,000
				</span>
</td>
<td class="num"><span class="tah p11">76,400</span></td>
<td class="num"><span class="tah p11">76,600</span></td>
<td class="num"><span class="tah p11">75,000</span></td>
<td class="num"><span class="tah p11">17,600,770</span></td>
</tr>
<tr>
<td colspan="7" height="8"></td>
</tr>
</table>

In [29]:
# table 그 자체는 list 형태 
pd.read_html(str(table))[0]
# NAN-- 구분선

            날짜       종가     전일비       시가       고가       저가         거래량
0          NaN      NaN     NaN      NaN      NaN      NaN         NaN
1   2021.09.27  77700.0   400.0  77300.0  77700.0  77000.0  11699798.0
2   2021.09.24  77300.0   100.0  77600.0  77700.0  77100.0  12247274.0
3   2021.09.23  77400.0   200.0  77500.0  77600.0  76800.0  17055590.0
4   2021.09.17  77200.0  1100.0  76300.0  77200.0  75900.0  16289502.0
5   2021.09.16  76100.0   900.0  77300.0  77400.0  76100.0  13067622.0
6          NaN      NaN     NaN      NaN      NaN      NaN         NaN
7          NaN      NaN     NaN      NaN      NaN      NaN         NaN
8          NaN      NaN     NaN      NaN      NaN      NaN         NaN
9   2021.09.15  77000.0   400.0  77400.0  77400.0  76400.0  12829128.0
10  2021.09.14  76600.0   300.0  77100.0  77700.0  76600.0  18167057.0
11  2021.09.13  76300.0  1000.0  75200.0  76300.0  75100.0  11397775.0
12  2021.09.10  75300.0     0.0  75300.0  75600.0  74800.0  10103212.0
13  2021.09.09  75300.0  1000.0  76400.0  76600.0  75000.0  17600770.0
14         NaN      NaN     NaN      NaN      NaN      NaN         NaN

In [30]:
# table[0]와 table[1]을 확인하여 보면 table[0]에 필요한 데이터들이 있습니다.
table[0]

<table cellspacing="0" class="type2">
<tr>
<th>날짜</th>
<th>종가</th>
<th>전일비</th>
<th>시가</th>
<th>고가</th>
<th>저가</th>
<th>거래량</th>
</tr>
<tr>
<td colspan="7" height="8"></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2021.09.27</span></td>
<td class="num"><span class="tah p11">77,700</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				400
				</span>
</td>
<td class="num"><span class="tah p11">77,300</span></td>
<td class="num"><span class="tah p11">77,700</span></td>
<td class="num"><span class="tah p11">77,000</span></td>
<td class="num"><span class="tah p11">11,699,798</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2021.09.24</span></td>
<td class="num"><span class="tah p11">77,300</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				100
				</span>
</td>
<td class="num"><span class="tah p11">77,600</span></td>
<td class="num"><span class="tah p11">77,700</span></td>
<td class="num"><span class="tah p11">77,100</span></td>
<td class="num"><span class="tah p11">12,247,274</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2021.09.23</span></td>
<td class="num"><span class="tah p11">77,400</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				200
				</span>
</td>
<td class="num"><span class="tah p11">77,500</span></td>
<td class="num"><span class="tah p11">77,600</span></td>
<td class="num"><span class="tah p11">76,800</span></td>
<td class="num"><span class="tah p11">17,055,590</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2021.09.17</span></td>
<td class="num"><span class="tah p11">77,200</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				1,100
				</span>
</td>
<td class="num"><span class="tah p11">76,300</span></td>
<td class="num"><span class="tah p11">77,200</span></td>
<td class="num"><span class="tah p11">75,900</span></td>
<td class="num"><span class="tah p11">16,289,502</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2021.09.16</span></td>
<td class="num"><span class="tah p11">76,100</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				900
				</span>
</td>
<td class="num"><span class="tah p11">77,300</span></td>
<td class="num"><span class="tah p11">77,400</span></td>
<td class="num"><span class="tah p11">76,100</span></td>
<td class="num"><span class="tah p11">13,067,622</span></td>
</tr>
<tr>
<td colspan="7" height="8"></td>
</tr>
<tr>
<td bgcolor="#e1e1e1" colspan="7" height="1"></td>
</tr>
<tr>
<td colspan="7" height="8"></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2021.09.15</span></td>
<td class="num"><span class="tah p11">77,000</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				400
				</span>
</td>
<td class="num"><span class="tah p11">77,400</span></td>
<td class="num"><span class="tah p11">77,400</span></td>
<td class="num"><span class="tah p11">76,400</span></td>
<td class="num"><span class="tah p11">12,829,128</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2021.09.14</span></td>
<td class="num"><span class="tah p11">76,600</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				300
				</span>
</td>
<td class="num"><span class="tah p11">77,100</span></td>
<td class="num"><span class="tah p11">77,700</span></td>
<td class="num"><span class="tah p11">76,600</span></td>
<td class="num"><span class="tah p11">18,167,057</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2021.09.13</span></td>
<td class="num"><span class="tah p11">76,300</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				1,000
				</span>
</td>
<td class="num"><span class="tah p11">75,200</span></td>
<td class="num"><span class="tah p11">76,300</span></td>
<td class="num"><span class="tah p11">75,100</span></td>
<td class="num"><span class="tah p11">11,397,775</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2021.09.10</span></td>
<td class="num"><span class="tah p11">75,300</span></td>
<td class="num">
<span class="tah p11">0</span>
</td>
<td class="num"><span class="tah p11">75,300</span></td>
<td class="num"><span class="tah p11">75,600</span></td>
<td class="num"><span class="tah p11">74,800</span></td>
<td class="num"><span class="tah p11">10,103,212</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2021.09.09</span></td>
<td class="num"><span class="tah p11">75,300</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				1,000
				</span>
</td>
<td class="num"><span class="tah p11">76,400</span></td>
<td class="num"><span class="tah p11">76,600</span></td>
<td class="num"><span class="tah p11">75,000</span></td>
<td class="num"><span class="tah p11">17,600,770</span></td>
</tr>
<tr>
<td colspan="7" height="8"></td>
</tr>
</table>

In [31]:
# dropna를 통해 결측치가 들어있는 row를 제거합니다.
# temp

temp = pd.read_html(str(table))[0]
temp.dropna()

            날짜       종가     전일비       시가       고가       저가         거래량
1   2021.09.27  77700.0   400.0  77300.0  77700.0  77000.0  11699798.0
2   2021.09.24  77300.0   100.0  77600.0  77700.0  77100.0  12247274.0
3   2021.09.23  77400.0   200.0  77500.0  77600.0  76800.0  17055590.0
4   2021.09.17  77200.0  1100.0  76300.0  77200.0  75900.0  16289502.0
5   2021.09.16  76100.0   900.0  77300.0  77400.0  76100.0  13067622.0
9   2021.09.15  77000.0   400.0  77400.0  77400.0  76400.0  12829128.0
10  2021.09.14  76600.0   300.0  77100.0  77700.0  76600.0  18167057.0
11  2021.09.13  76300.0  1000.0  75200.0  76300.0  75100.0  11397775.0
12  2021.09.10  75300.0     0.0  75300.0  75600.0  74800.0  10103212.0
13  2021.09.09  75300.0  1000.0  76400.0  76600.0  75000.0  17600770.0

## 페이지별 데이터 수집 함수 만들기

In [37]:
# 종목번호와 상장사 이름을 item_code와 item_name으로 설정
# item_code = "352820"
# item_name = "빅히트"

item_code = "326030"
item_name = "SK바이오팜"
page_no = 1

# 종목 URL 만들기
# url
url= f"https://finance.naver.com/item/sise_day.naver?code={item_code}&page={page_no}"
url

'https://finance.naver.com/item/sise_day.naver?code=326030&page=1'

In [38]:

import requests
response = requests.get(url)

response.text

# 방문하시려는 페이지의 주소가 잘못 입력되었거나,<br>\n\t\t페이지의 주소가 변경 혹은 삭제되어 요청하신 페이지를 찾을 수 없습니다.
#<br>\n\t\t입력하신 주소가 정확한지 다시 한번 확인해 주시기 바랍니다.

# browser가 아닌 곳에서 요청이 온 경우 -> block

# browser 인 것처럼 만들어준다 

headers = {'user-agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/95.0.4638.69 Safari/537.36'}

response = requests.get(url,headers=headers)

response.text

'\n<html lang="ko">\n<head>\n<meta http-equiv="Content-Type" content="text/html; charset=euc-kr">\n<title>네이버 금융</title>\n\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20211029233853/css/newstock.css">\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20211029233853/css/common.css">\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20211029233853/css/layout.css">\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20211029233853/css/main.css">\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20211029233853/css/newstock2.css">\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20211029233853/css/newstock3.css">\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20211029233853/css/world.css">\n</head>\n<body>\n<script language="JavaScript">\nfunction mouseOver(obj){\n  obj.style.backgroundColor="#f6f4e5";\n}\nfunction mouseOut(obj){\n  obj.style.backgroundColor="#ffffff";\n}\n</script>\n\t\t\t\t<h4 class="tlline2"><strong><span class="red03">일별</span>시세</strong></h4>\t\t\t\n\t\t\t\t<table cellspacing="0" class="type2">\n\t\t\t\t<tr>\n\t\t\t\t<th>날짜</th>\n\t\t\t\t<th>종가</th>\n\t\t\t\t<th>전일비</th>\n\t\t\t\t<th>시가</th>\n\t\t\t\t<th>고가</th>\n\t\t\t\t<th>저가</th>\n\t\t\t\t<th>거래량</th>\n\t\t\t\t</tr>\n\t\t\t\t<tr>\n\t\t\t\t<td colspan="7" height="8"></td>\n\t\t\t\t</tr>\n\n\n\t\n\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t<td align="center"><span class="tah p10 gray03">2021.11.24</span></td>\n\t\t\t\t<td class="num"><span class="tah p11">100,000</span></td>\n\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" width="7" height="6" style="margin-right:4px;" alt="상승"><span class="tah p11 red02">\n\t\t\t\t300\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t<td class="num"><span class="tah p11">99,600</span></td>\n\t\t\t\t<td class="num"><span class="tah p11">100,500</span></td>\n\t\t\t\t<td class="num"><span class="tah p11">99,500</span></td>\n\t\t\t\t<td class="num"><span class="tah p11">38,127</span></td>\n\t\t\t\t</tr>\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2021.11.23</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">99,700</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" width="7" height="6" style="margin-right:4px;" alt="하락"><span class="tah p11 nv01">\n\t\t\t\t1,800\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">101,000</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">102,000</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">99,700</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">123,807</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2021.11.22</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">101,500</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" width="7" height="6" style="margin-right:4px;" alt="상승"><span class="tah p11 red02">\n\t\t\t\t1,000\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">99,600</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">102,500</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">99,500</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">154,829</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2021.11.19</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">100,500</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" width="7" height="6" style="margin-right:4px;" alt="상승"><span class="tah p11 red02">\n\t\t\t\t900\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">99,800</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">101,000</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">99,700</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">97,257</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2021.11.18</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">99,600</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" width="7" height="6" style="margin-right:4px;" alt="하락"><span class="tah p11 nv01">\n\t\t\t\t1,900\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">101,000</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">101,500</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">99,600</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">141,546</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\t<tr>\n\t\t\t\t<td colspan="7" height="8"></td>\n\t\t\t\t</tr>\n\t\t\t\t<tr>\n\t\t\t\t<td colspan="7" height="1" bgcolor="#e1e1e1"></td>\n\t\t\t\t</tr>\n\t\t\t\t<tr>\n\t\t\t\t<td colspan="7" height="8"></td>\n\t\t\t\t</tr>\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2021.11.17</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">101,500</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" width="7" height="6" style="margin-right:4px;" alt="하락"><span class="tah p11 nv01">\n\t\t\t\t2,500\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">104,000</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">104,000</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">101,000</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">213,809</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2021.11.16</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">104,000</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" width="7" height="6" style="margin-right:4px;" alt="상승"><span class="tah p11 red02">\n\t\t\t\t2,000\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">102,000</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">104,000</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">100,500</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">204,919</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2021.11.15</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">102,000</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" width="7" height="6" style="margin-right:4px;" alt="상승"><span class="tah p11 red02">\n\t\t\t\t2,300\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">100,500</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">104,500</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">99,000</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">339,533</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2021.11.12</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">99,700</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" width="7" height="6" style="margin-right:4px;" alt="하락"><span class="tah p11 nv01">\n\t\t\t\t200\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">101,000</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">102,000</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">99,100</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">214,051</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2021.11.11</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">99,900</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" width="7" height="6" style="margin-right:4px;" alt="상승"><span class="tah p11 red02">\n\t\t\t\t3,600\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">96,000</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">101,000</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">95,500</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">401,193</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\n\t\n\t\n\n\t\t\t\t<tr>\n\t\t\t\t<td colspan="7" height="8"></td>\n\t\t\t\t</tr>\n\t\t\t\t</table>\n\t\t\t\t<!--- 페이지 네비게이션 시작--->\n\t\t\t\t<table summary="페이지 네비게이션 리스트" class="Nnavi" align="center">\n\t\t\t\t<caption>페이지 네비게이션</caption>\n\t\t\t\t<tr>\t\t\n\t\t\t\n\t\t\t\t\n                \n                <td class="on">\n\t\t\t\t<a href="/item/sise_day.naver?code=326030&amp;page=1"  >1</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.naver?code=326030&amp;page=2"  >2</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.naver?code=326030&amp;page=3"  >3</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.naver?code=326030&amp;page=4"  >4</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.naver?code=326030&amp;page=5"  >5</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.naver?code=326030&amp;page=6"  >6</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.naver?code=326030&amp;page=7"  >7</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.naver?code=326030&amp;page=8"  >8</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.naver?code=326030&amp;page=9"  >9</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.naver?code=326030&amp;page=10"  >10</a>\n\t\t\t\t</td>\n\n                <td class="pgR">\n\t\t\t\t<a href="/item/sise_day.naver?code=326030&amp;page=11"  >\n\t\t\t\t다음<img src="https://ssl.pstatic.net/static/n/cmn/bu_pgarR.gif" width="3" height="5" alt="" border="0">\n\t\t\t\t</a>\n\t\t\t\t</td>\n\n                <td class="pgRR">\n\t\t\t\t<a href="/item/sise_day.naver?code=326030&amp;page=35"  >맨뒤\n\t\t\t\t<img src="https://ssl.pstatic.net/static/n/cmn/bu_pgarRR.gif" width="8" height="5" alt="" border="0">\n\t\t\t\t</a>\n\t\t\t\t</td>\n\n            \n\t\t\t\t</tr>\n\t\t\t\t</table>\n\t\t\t\t<!--- 페이지 네비게이션 끝--->\n\n\n\t<script type="text/javascript" src="https://ssl.pstatic.net/imgstock/static.pc/20211029233853/js/jindo.min.ns.1.5.3.euckr.js"></script>\n\t<script type="text/javascript" src="https://ssl.pstatic.net/imgstock/static.pc/20211029233853/js/lcslog.js"></script>\n\t<script type="text/javascript">\n        ;(function(){\n            var eventType = "onpageshow" in window ? "pageshow" : "load";\n            jindo.$Fn(function(){\n                lcs_do();\n            }).attach(window, eventType);\n        })();\n\t</script>\n\n</body>'

In [39]:
from bs4 import BeautifulSoup as bs

## lxml- parsser - fast 
html = bs(response.text,"lxml")
# pandas 와 맵핑위해 table
table = html.select("table")
len(table)

table[0]

<table cellspacing="0" class="type2">
<tr>
<th>날짜</th>
<th>종가</th>
<th>전일비</th>
<th>시가</th>
<th>고가</th>
<th>저가</th>
<th>거래량</th>
</tr>
<tr>
<td colspan="7" height="8"></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2021.11.24</span></td>
<td class="num"><span class="tah p11">100,000</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				300
				</span>
</td>
<td class="num"><span class="tah p11">99,600</span></td>
<td class="num"><span class="tah p11">100,500</span></td>
<td class="num"><span class="tah p11">99,500</span></td>
<td class="num"><span class="tah p11">38,127</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2021.11.23</span></td>
<td class="num"><span class="tah p11">99,700</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				1,800
				</span>
</td>
<td class="num"><span class="tah p11">101,000</span></td>
<td class="num"><span class="tah p11">102,000</span></td>
<td class="num"><span class="tah p11">99,700</span></td>
<td class="num"><span class="tah p11">123,807</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2021.11.22</span></td>
<td class="num"><span class="tah p11">101,500</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				1,000
				</span>
</td>
<td class="num"><span class="tah p11">99,600</span></td>
<td class="num"><span class="tah p11">102,500</span></td>
<td class="num"><span class="tah p11">99,500</span></td>
<td class="num"><span class="tah p11">154,829</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2021.11.19</span></td>
<td class="num"><span class="tah p11">100,500</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				900
				</span>
</td>
<td class="num"><span class="tah p11">99,800</span></td>
<td class="num"><span class="tah p11">101,000</span></td>
<td class="num"><span class="tah p11">99,700</span></td>
<td class="num"><span class="tah p11">97,257</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2021.11.18</span></td>
<td class="num"><span class="tah p11">99,600</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				1,900
				</span>
</td>
<td class="num"><span class="tah p11">101,000</span></td>
<td class="num"><span class="tah p11">101,500</span></td>
<td class="num"><span class="tah p11">99,600</span></td>
<td class="num"><span class="tah p11">141,546</span></td>
</tr>
<tr>
<td colspan="7" height="8"></td>
</tr>
<tr>
<td bgcolor="#e1e1e1" colspan="7" height="1"></td>
</tr>
<tr>
<td colspan="7" height="8"></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2021.11.17</span></td>
<td class="num"><span class="tah p11">101,500</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				2,500
				</span>
</td>
<td class="num"><span class="tah p11">104,000</span></td>
<td class="num"><span class="tah p11">104,000</span></td>
<td class="num"><span class="tah p11">101,000</span></td>
<td class="num"><span class="tah p11">213,809</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2021.11.16</span></td>
<td class="num"><span class="tah p11">104,000</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				2,000
				</span>
</td>
<td class="num"><span class="tah p11">102,000</span></td>
<td class="num"><span class="tah p11">104,000</span></td>
<td class="num"><span class="tah p11">100,500</span></td>
<td class="num"><span class="tah p11">204,919</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2021.11.15</span></td>
<td class="num"><span class="tah p11">102,000</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				2,300
				</span>
</td>
<td class="num"><span class="tah p11">100,500</span></td>
<td class="num"><span class="tah p11">104,500</span></td>
<td class="num"><span class="tah p11">99,000</span></td>
<td class="num"><span class="tah p11">339,533</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2021.11.12</span></td>
<td class="num"><span class="tah p11">99,700</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				200
				</span>
</td>
<td class="num"><span class="tah p11">101,000</span></td>
<td class="num"><span class="tah p11">102,000</span></td>
<td class="num"><span class="tah p11">99,100</span></td>
<td class="num"><span class="tah p11">214,051</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2021.11.11</span></td>
<td class="num"><span class="tah p11">99,900</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				3,600
				</span>
</td>
<td class="num"><span class="tah p11">96,000</span></td>
<td class="num"><span class="tah p11">101,000</span></td>
<td class="num"><span class="tah p11">95,500</span></td>
<td class="num"><span class="tah p11">401,193</span></td>
</tr>
<tr>
<td colspan="7" height="8"></td>
</tr>
</table>

In [31]:
# dropna를 통해 결측치가 들어있는 row를 제거합니다.
# temp

temp = pd.read_html(str(table))[0]
temp.dropna()

            날짜       종가     전일비       시가       고가       저가         거래량
1   2021.09.27  77700.0   400.0  77300.0  77700.0  77000.0  11699798.0
2   2021.09.24  77300.0   100.0  77600.0  77700.0  77100.0  12247274.0
3   2021.09.23  77400.0   200.0  77500.0  77600.0  76800.0  17055590.0
4   2021.09.17  77200.0  1100.0  76300.0  77200.0  75900.0  16289502.0
5   2021.09.16  76100.0   900.0  77300.0  77400.0  76100.0  13067622.0
9   2021.09.15  77000.0   400.0  77400.0  77400.0  76400.0  12829128.0
10  2021.09.14  76600.0   300.0  77100.0  77700.0  76600.0  18167057.0
11  2021.09.13  76300.0  1000.0  75200.0  76300.0  75100.0  11397775.0
12  2021.09.10  75300.0     0.0  75300.0  75600.0  74800.0  10103212.0
13  2021.09.09  75300.0  1000.0  76400.0  76600.0  75000.0  17600770.0

In [47]:
# 종목 번호를 이용해 page에 따라 데이터를 읽어오는 함수
# """ 는 이 두개 사이의 행들은 주석 처리되며, 함수의 docstring 으로 사용됩니다.

def get_day_list(item_code, page_no):
    """
    일자별 시세를 페이지별로 수집
    """ 
    url= f"https://finance.naver.com/item/sise_day.naver?code={item_code}&page={page_no}"
    
    headers = {'user-agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/95.0.4638.69 Safari/537.36'}

    response = requests.get(url,headers=headers)
    html = bs(response.text,"lxml")
    table = html.select("table")
    table = pd.read_html(str(table))    
    temp = table[0].dropna()
    return temp

In [52]:
# 함수가 잘 만들어졌는지 확인하기
get_day_list(item_code,40)

           날짜        종가      전일비        시가        고가        저가         거래량
1  2020.07.09  205500.0  11500.0  213500.0  220000.0  205500.0   1897646.0
2  2020.07.08  217000.0    500.0  214500.0  225000.0  198000.0   5990009.0
3  2020.07.07  216500.0   2000.0  219000.0  269500.0  210000.0  10105187.0
4  2020.07.06  214500.0  49500.0  214500.0  214500.0  193500.0   7126211.0
5  2020.07.03  165000.0  38000.0  165000.0  165000.0  165000.0    711921.0
9  2020.07.02  127000.0  29000.0   98000.0  127000.0   98000.0    698642.0

## 반복문을 통한 전체 일자 데이터 수집하기
* (주의) 기간이 긴 데이터를 수집할때는 서버에 부담을 주지 않기 위해 time.sleep()값을 주세요.

In [61]:
import time
# web page 시작번호
page_no = 1
# 데이터를 저장할 빈 변수 선언
item_list = []


while True:
    print(page_no)
    temp =get_day_list(item_code,page_no)
    
    item_list.append(temp)
    page_no = page_no+1
    time.sleep(0.1)
    ## 1페이지 10개씩 - 마지막페이지는 10개보다 데이터가 작음
    if temp.shape[0] < 10:
        break

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35

In [59]:
print(item_list)
print()
print (len(item_list))

[            날짜        종가     전일비        시가        고가        저가       거래량
1   2021.11.24   99900.0   200.0   99600.0  100500.0   99500.0   42315.0
2   2021.11.23   99700.0  1800.0  101000.0  102000.0   99700.0  123807.0
3   2021.11.22  101500.0  1000.0   99600.0  102500.0   99500.0  154829.0
4   2021.11.19  100500.0   900.0   99800.0  101000.0   99700.0   97257.0
5   2021.11.18   99600.0  1900.0  101000.0  101500.0   99600.0  141546.0
9   2021.11.17  101500.0  2500.0  104000.0  104000.0  101000.0  213809.0
10  2021.11.16  104000.0  2000.0  102000.0  104000.0  100500.0  204919.0
11  2021.11.15  102000.0  2300.0  100500.0  104500.0   99000.0  339533.0
12  2021.11.12   99700.0   200.0  101000.0  102000.0   99100.0  214051.0
13  2021.11.11   99900.0  3600.0   96000.0  101000.0   95500.0  401193.0,             날짜       종가     전일비       시가        고가       저가       거래량
1   2021.11.10  96300.0   100.0  96200.0   98200.0  95400.0  179705.0
2   2021.11.09  96400.0   400.0  96100.0   97700.0  95500.0  139653.0
3   2021.11.08  96000.0  2500.0  98500.0   98500.0  94600.0  216516.0
4   2021.11.05  98500.0   500.0  99000.0   99000.0  96800.0  121719.0
5   2021.11.04  98000.0   200.0  99000.0  101000.0  97800.0  205798.0
9   2021.11.03  97800.0     0.0  98200.0   99100.0  96600.0  134947.0
10  2021.11.02  97800.0  2600.0  95100.0   99200.0  95100.0  171350.0
11  2021.11.01  95200.0   600.0  94900.0   96400.0  93700.0  118703.0
12  2021.10.29  94600.0  2400.0  97500.0   97500.0  94500.0  211563.0
13  2021.10.28  97000.0  2100.0  99300.0   99300.0  97000.0  166833.0,             날짜        종가     전일비        시가        고가        저가       거래량
1   2021.10.27   99100.0  1400.0  100500.0  101000.0   98700.0  112457.0
2   2021.10.26  100500.0  3500.0   96200.0  100500.0   96200.0  167296.0
3   2021.10.25   97000.0  1000.0   97500.0   99500.0   95800.0  167583.0
4   2021.10.22   98000.0   500.0   97000.0   98800.0   96900.0  102557.0
5   2021.10.21   97500.0  2200.0   99700.0  100500.0   97500.0  191000.0
9   2021.10.20   99700.0   800.0  100000.0  101000.0   99400.0  151370.0
10  2021.10.19  100500.0   600.0  100000.0  101000.0   99700.0  116146.0
11  2021.10.18   99900.0  2100.0  102000.0  102000.0   99500.0  120834.0
12  2021.10.15  102000.0   500.0  102500.0  103000.0  101000.0  102576.0
13  2021.10.14  102500.0  2000.0  101000.0  102500.0  100000.0  124511.0,             날짜        종가     전일비        시가        고가        저가       거래량
1   2021.10.13  100500.0     0.0  100500.0  103000.0  100000.0  117404.0
2   2021.10.12  100500.0   500.0  101000.0  101000.0   98300.0  141355.0
3   2021.10.08  100000.0  2700.0   97300.0  101500.0   95600.0  244101.0
4   2021.10.07   97300.0  5900.0   91600.0   98800.0   91600.0  292791.0
5   2021.10.06   91400.0  5000.0   96300.0   97400.0   91400.0  442287.0
9   2021.10.05   96400.0  4600.0  100000.0  100500.0   96100.0  363173.0
10  2021.10.01  101000.0  1000.0  102000.0  102500.0  100000.0  200990.0
11  2021.09.30  102000.0     0.0  101500.0  103500.0  101000.0  233153.0
12  2021.09.29  102000.0  2500.0  102000.0  103500.0  100500.0  315717.0
13  2021.09.28  104500.0  3500.0  107500.0  108000.0  104000.0  272585.0,             날짜        종가     전일비        시가        고가        저가       거래량
1   2021.09.27  108000.0  1000.0  107000.0  109500.0  107000.0  120166.0
2   2021.09.24  107000.0  2500.0  110000.0  110500.0  107000.0  224301.0
3   2021.09.23  109500.0  4000.0  111500.0  112000.0  108000.0  323144.0
4   2021.09.17  113500.0   500.0  113500.0  114000.0  112000.0  153055.0
5   2021.09.16  114000.0  1000.0  113500.0  114000.0  112500.0  105664.0
9   2021.09.15  113000.0  2000.0  114500.0  114500.0  113000.0  195224.0
10  2021.09.14  115000.0  1000.0  114000.0  116500.0  114000.0  198445.0
11  2021.09.13  114000.0   500.0  113500.0  114500.0  112000.0  165031.0
12  2021.09.10  113500.0  1000.0  114000.0  115500.0  113500.0  238610.0
13  2021.09.09  114500.0  2000.0  116500.0  117500.0  113000.0  473070.0,             날짜        종가     전일비        시가        고가        저가       거래량
1   2021.09.08  116500.0  4500.0  121000.0  121000.0  116500.0  340099.0
2   2021.09.07  121000.0   500.0  121500.0  123000.0  120000.0  140250.0
3   2021.09.06  121500.0  3500.0  125000.0  125000.0  121500.0  180646.0
4   2021.09.03  125000.0  3000.0  123500.0  126500.0  122500.0  270216.0
5   2021.09.02  122000.0  2000.0  125000.0  125000.0  122000.0  191733.0
9   2021.09.01  124000.0  1500.0  126000.0  126000.0  123500.0  206858.0
10  2021.08.31  125500.0  4000.0  122500.0  125500.0  122000.0  342891.0
11  2021.08.30  121500.0     0.0  122000.0  123000.0  120500.0  146824.0
12  2021.08.27  121500.0  4500.0  117500.0  123000.0  117500.0  415457.0
13  2021.08.26  117000.0  1000.0  118000.0  118500.0  116500.0  131690.0,             날짜        종가     전일비        시가        고가        저가        거래량
1   2021.08.25  118000.0  1000.0  117500.0  118000.0  115500.0   151128.0
2   2021.08.24  117000.0  3000.0  115500.0  118000.0  114500.0   191438.0
3   2021.08.23  114000.0  1000.0  113500.0  115500.0  113000.0   156249.0
4   2021.08.20  113000.0  2000.0  115000.0  117000.0  113000.0   297982.0
5   2021.08.19  115000.0  4500.0  118000.0  120500.0  115000.0   365765.0
9   2021.08.18  119500.0     0.0  119500.0  121000.0  116000.0   283807.0
10  2021.08.17  119500.0  2000.0  121500.0  124500.0  119000.0   451563.0
11  2021.08.13  121500.0  2500.0  124500.0  126500.0  121500.0   353831.0
12  2021.08.12  124000.0  3500.0  128000.0  131000.0  124000.0   526626.0
13  2021.08.11  127500.0  5500.0  122000.0  133000.0  120500.0  1286901.0,             날짜        종가     전일비        시가        고가        저가       거래량
1   2021.08.10  122000.0  2500.0  124500.0  127500.0  120000.0  556724.0
2   2021.08.09  124500.0  2500.0  127500.0  127500.0  123500.0  252244.0
3   2021.08.06  127000.0   500.0  128000.0  128000.0  125500.0  200052.0
4   2021.08.05  127500.0  4000.0  124000.0  129000.0  123500.0  493796.0
5   2021.08.04  123500.0   500.0  124000.0  124500.0  122000.0  223427.0
9   2021.08.03  124000.0     0.0  124500.0  126500.0  122500.0  254700.0
10  2021.08.02  124000.0  5000.0  119000.0  125500.0  118000.0  405374.0
11  2021.07.30  119000.0  1500.0  120500.0  121000.0  118000.0  265906.0
12  2021.07.29  120500.0   500.0  120000.0  122500.0  120000.0  125487.0
13  2021.07.28  120000.0  2000.0  121500.0  122500.0  119000.0  218927.0,             날짜        종가     전일비        시가        고가        저가       거래량
1   2021.07.27  122000.0  1500.0  121000.0  122500.0  120500.0  146705.0
2   2021.07.26  120500.0  1500.0  122500.0  123000.0  120000.0  221231.0
3   2021.07.23  122000.0  2000.0  124000.0  125000.0  122000.0  235444.0
4   2021.07.22  124000.0  1000.0  125000.0  125000.0  123000.0  155904.0
5   2021.07.21  125000.0   500.0  125500.0  127000.0  124000.0  194282.0
9   2021.07.20  124500.0  1000.0  123500.0  125500.0  123000.0  198884.0
10  2021.07.19  125500.0     0.0  124000.0  127000.0  123000.0  216944.0
11  2021.07.16  125500.0  3000.0  127500.0  128500.0  125500.0  327694.0
12  2021.07.15  128500.0  2000.0  130500.0  131500.0  128000.0  228926.0
13  2021.07.14  130500.0  2000.0  132500.0  132500.0  129500.0  214600.0,             날짜        종가     전일비        시가        고가        저가        거래량
1   2021.07.13  132500.0  5000.0  129000.0  133000.0  128000.0   354269.0
2   2021.07.12  127500.0   500.0  128500.0  128500.0  126500.0   181619.0
3   2021.07.09  128000.0  2000.0  129000.0  130000.0  125000.0   425244.0
4   2021.07.08  130000.0   500.0  129500.0  135000.0  129500.0   570279.0
5   2021.07.07  129500.0  2000.0  131500.0  132000.0  128500.0   308334.0
9   2021.07.06  131500.0   500.0  133000.0  133000.0  129500.0   302620.0
10  2021.07.05  132000.0  3000.0  134500.0  137500.0  132000.0   645056.0
11  2021.07.02  135000.0  7000.0  129000.0  135000.0  127000.0  1121805.0
12  2021.07.01  128000.0  5000.0  123000.0  128500.0  122000.0   588182.0
13  2021.06.30  123000.0  2000.0  125000.0  125500.0  123000.0   231375.0]

10

## 수집한 데이터 하나의 데이터프레임으로 합치기

<img src="https://pandas.pydata.org/docs/_images/merging_concat_basic.png">

* [Merge, join, concatenate and compare documentation](https://pandas.pydata.org/docs/user_guide/merging.html#merge-join-concatenate-and-compare)

In [64]:
# DataFrame들이 list의 형태로 저장된 것을 concat을 이용하여 합치면서 하나의 DataFrame으로 만듭니다.
df= pd.concat(item_list)

<img src="https://pandas.pydata.org/docs/_images/08_concat_row.svg">

In [65]:
# head와 tail로 데이터의 일부를 가져와서 봅니다.
df.head()

           날짜        종가     전일비        시가        고가       저가       거래량
1  2021.11.24   99800.0   100.0   99600.0  100500.0  99500.0   44696.0
2  2021.11.23   99700.0  1800.0  101000.0  102000.0  99700.0  123807.0
3  2021.11.22  101500.0  1000.0   99600.0  102500.0  99500.0  154829.0
4  2021.11.19  100500.0   900.0   99800.0  101000.0  99700.0   97257.0
5  2021.11.18   99600.0  1900.0  101000.0  101500.0  99600.0  141546.0

In [66]:
df.tail()

           날짜        종가      전일비        시가        고가        저가         거래량
2  2020.07.08  217000.0    500.0  214500.0  225000.0  198000.0   5990009.0
3  2020.07.07  216500.0   2000.0  219000.0  269500.0  210000.0  10105187.0
4  2020.07.06  214500.0  49500.0  214500.0  214500.0  193500.0   7126211.0
5  2020.07.03  165000.0  38000.0  165000.0  165000.0  165000.0    711921.0
9  2020.07.02  127000.0  29000.0   98000.0  127000.0   98000.0    698642.0

## 데이터프레임에 종목코드와 종목명을 추가하기
* 파생변수 만들기

In [68]:
# '종목코드'와 '종목명' column을 추가하면서 각각 item_code와 item_name 값을 입력합니다.
df["종목코드"] = item_code
df["종목명"]  = item_name
df

,날짜,종가,전일비,시가,고가,저가,거래량,종목코드,종목명
1,2021.11.24,99800.0,100.0,99600.0,100500.0,99500.0,44696.0,326030,SK바이오팜
2,2021.11.23,99700.0,1800.0,101000.0,102000.0,99700.0,123807.0,326030,SK바이오팜
3,2021.11.22,101500.0,1000.0,99600.0,102500.0,99500.0,154829.0,326030,SK바이오팜
4,2021.11.19,100500.0,900.0,99800.0,101000.0,99700.0,97257.0,326030,SK바이오팜
5,2021.11.18,99600.0,1900.0,101000.0,101500.0,99600.0,141546.0,326030,SK바이오팜
...,...,...,...,...,...,...,...,...,...
2,2020.07.08,217000.0,500.0,214500.0,225000.0,198000.0,5990009.0,326030,SK바이오팜
3,2020.07.07,216500.0,2000.0,219000.0,269500.0,210000.0,10105187.0,326030,SK바이오팜
4,2020.07.06,214500.0,49500.0,214500.0,214500.0,193500.0,7126211.0,326030,SK바이오팜
5,2020.07.03,165000.0,38000.0,165000.0,165000.0,165000.0,711921.0,326030,SK바이오팜
9,2020.07.02,127000.0,29000.0,98000.0,127000.0,98000.0,698642.0,326030,SK바이오팜

## 컬럼 순서 변경하기

In [69]:
# DataFrame에서 column 들의 이름을 순서를 조정하여 column순서를 변경할 수 있습니다.


df.columns

Index(['날짜', '종가', '전일비', '시가', '고가', '저가', '거래량', '종목코드', '종목명'], dtype='object')

In [72]:
## 지정해준 순서대로 
cols = ['종목코드', '종목명', '날짜', '종가', '전일비', '시가', '고가', '저가', '거래량']

df = df[cols]
df

,종목코드,종목명,날짜,종가,전일비,시가,고가,저가,거래량
1,326030,SK바이오팜,2021.11.24,99800.0,100.0,99600.0,100500.0,99500.0,44696.0
2,326030,SK바이오팜,2021.11.23,99700.0,1800.0,101000.0,102000.0,99700.0,123807.0
3,326030,SK바이오팜,2021.11.22,101500.0,1000.0,99600.0,102500.0,99500.0,154829.0
4,326030,SK바이오팜,2021.11.19,100500.0,900.0,99800.0,101000.0,99700.0,97257.0
5,326030,SK바이오팜,2021.11.18,99600.0,1900.0,101000.0,101500.0,99600.0,141546.0
...,...,...,...,...,...,...,...,...,...
2,326030,SK바이오팜,2020.07.08,217000.0,500.0,214500.0,225000.0,198000.0,5990009.0
3,326030,SK바이오팜,2020.07.07,216500.0,2000.0,219000.0,269500.0,210000.0,10105187.0
4,326030,SK바이오팜,2020.07.06,214500.0,49500.0,214500.0,214500.0,193500.0,7126211.0
5,326030,SK바이오팜,2020.07.03,165000.0,38000.0,165000.0,165000.0,165000.0,711921.0
9,326030,SK바이오팜,2020.07.02,127000.0,29000.0,98000.0,127000.0,98000.0,698642.0

## 중복데이터 제거하기
* drop_duplicates 를 통해 중복된 데이터가 있다면 제거합니다.

In [76]:
# drop_duplicates : row들 끼리 data를 비교하여 같은 값이 있으면 row중 하나를 삭제
# df.shape를 전/후로 출력하여 삭제된 row가 있는지 확인

df = df.drop_duplicates()
df.shape

(346, 9)

## 기술통계값 구하기

In [78]:
# describe는 기본적으로 수치데이터에 대한 기술통계값을 구하게 됩니다.
df.describe()

,종가,전일비,시가,고가,저가,거래량
count,346.000000,346.000000,346.000000,346.000000,346.000000,3.460000e+02
mean,138134.682081,2797.687861,138540.173410,140882.658960,135854.913295,5.116431e+05
std,30668.690725,4407.016195,31001.868648,32050.899553,29936.417483,1.037719e+06
min,91400.000000,0.000000,91600.000000,96400.000000,91400.000000,4.469600e+04
25%,111625.000000,525.000000,112000.000000,113500.000000,110500.000000,1.960382e+05
50%,127000.000000,2000.000000,127500.000000,128500.000000,123750.000000,2.716090e+05
75%,167375.000000,3500.000000,168000.000000,169875.000000,165000.000000,4.509318e+05
max,217000.000000,49500.000000,219000.000000,269500.000000,210000.000000,1.242668e+07

* 참고 : E notation
[과학적 기수법 - 위키백과, 우리 모두의 백과사전](https://ko.wikipedia.org/wiki/%EA%B3%BC%ED%95%99%EC%A0%81_%EA%B8%B0%EC%88%98%EB%B2%95)

과학적 기수법, 과학적 표기법(scientific notation, scientific form, standard index form, standard form)은 너무 크거나 너무 작은 숫자들을 십진법으로 편하게 작성하여 표현하는 방법이다. 과학자, 수학자, 공학자들이 공통적으로 사용하는데, 부분적인 이유는 특정한 산술을 단순화시켜 주기 때문이다. 과학 계산기에서는 "SCI" 디스플레이 모드라는 이름으로 알려져 있다.

In [ ]:
# 거래량의 과학적 기수법 읽기

## 최근 날짜 구해서 파일명 만들기

In [83]:
# 날짜 column의 첫 row값 확인
# date
date = df.iloc[0]["날짜"]

In [87]:
# 종목명, 종목코드, 날짜를 이름으로 하는 csv 파일명 만들기
# file_name
file_name = f"{item_name}_{item_code}_{date}.csv"
file_name

'SK바이오팜_326030_2021.11.24.csv'

## 파일로 저장하기

In [91]:
# 파일로 저장하기 
# index=False 로 데이터프레임의 기본 index 는 저장하지 않도록 합니다.
df.to_csv(file_name,index=False)

In [92]:
# 제대로 저장되었는지 파일을 읽어서 확인합니다.
pd.read_csv(file_name)

,종목코드,종목명,날짜,종가,전일비,시가,고가,저가,거래량
0,326030,SK바이오팜,2021.11.24,99800.0,100.0,99600.0,100500.0,99500.0,44696.0
1,326030,SK바이오팜,2021.11.23,99700.0,1800.0,101000.0,102000.0,99700.0,123807.0
2,326030,SK바이오팜,2021.11.22,101500.0,1000.0,99600.0,102500.0,99500.0,154829.0
3,326030,SK바이오팜,2021.11.19,100500.0,900.0,99800.0,101000.0,99700.0,97257.0
4,326030,SK바이오팜,2021.11.18,99600.0,1900.0,101000.0,101500.0,99600.0,141546.0
...,...,...,...,...,...,...,...,...,...
341,326030,SK바이오팜,2020.07.08,217000.0,500.0,214500.0,225000.0,198000.0,5990009.0
342,326030,SK바이오팜,2020.07.07,216500.0,2000.0,219000.0,269500.0,210000.0,10105187.0
343,326030,SK바이오팜,2020.07.06,214500.0,49500.0,214500.0,214500.0,193500.0,7126211.0
344,326030,SK바이오팜,2020.07.03,165000.0,38000.0,165000.0,165000.0,165000.0,711921.0
345,326030,SK바이오팜,2020.07.02,127000.0,29000.0,98000.0,127000.0,98000.0,698642.0

## 전체 과정을 하나의 함수로 만들기

In [99]:
def get_item_list(item_code, item_name):
    """
    일별 시세를 수집하는 함수
    """
    # web page 시작번호
    page_no = 1
    # 데이터를 저장할 빈 변수 선언
    item_list = []

    while True:
        temp =get_day_list(item_code,page_no)

        item_list.append(temp)
        page_no = page_no+1
        time.sleep(0.1)
        ## 1페이지 10개씩 - 마지막페이지는 10개보다 데이터가 작음
        if temp.shape[0] < 10:
            break
    df= pd.concat(item_list)
    df["종목코드"] =item_code
    df["종목명"] =item_name
    
    cols = ['종목코드', '종목명', '날짜', '종가', '전일비', '시가', '고가', '저가', '거래량']

    df = df[cols]
    date = df.iloc[0]["날짜"]
    file_name = f"{item_name}_{item_code}_{date}.csv"
    df.to_csv(file_name,index=False)
    
    return df

In [100]:
item_code = "352820"
item_name = "하이브"
# 빅히트의 사명이 하이브로 변경되었습니다.

# item_code = "326030"
# item_name = "SK바이오팜"


get_item_list(item_code,item_name)

,종목코드,종목명,날짜,종가,전일비,시가,고가,저가,거래량
1,352820,하이브,2021.11.24,378500.0,14000.0,390000.0,394000.0,374000.0,198969.0
2,352820,하이브,2021.11.23,392500.0,0.0,390500.0,406000.0,382000.0,289318.0
3,352820,하이브,2021.11.22,392500.0,8000.0,395000.0,397500.0,370000.0,566563.0
4,352820,하이브,2021.11.19,400500.0,12000.0,413000.0,416000.0,400000.0,329932.0
5,352820,하이브,2021.11.18,412500.0,1500.0,414000.0,419000.0,395000.0,379310.0
...,...,...,...,...,...,...,...,...,...
2,352820,하이브,2020.10.21,179000.0,3500.0,180500.0,185500.0,177000.0,1658643.0
3,352820,하이브,2020.10.20,182500.0,6500.0,190000.0,193500.0,176000.0,1811616.0
4,352820,하이브,2020.10.19,189000.0,11500.0,198500.0,202500.0,187000.0,1977996.0
5,352820,하이브,2020.10.16,200500.0,57500.0,253000.0,253000.0,199000.0,4504395.0
9,352820,하이브,2020.10.15,258000.0,12000.0,270000.0,351000.0,253500.0,6557212.0

## 내가 만든 함수의 기능과 소스코드가 궁금하다면?

In [ ]:
# 도움말 보기
# get_item_list?

In [ ]:
# 소스코드 보기
# get_item_list??